root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,java}]
indent_size = 4
indent_style = space

[*.xml]
indent_size = 4
indent_style = space

[*.gradle,*.gradle.kts]
indent_size = 4
indent_style = space
