# Gradle files
.gradle/
build/
*.apk
*.aar
*.ap_
*.aab

# Android Studio
.idea/
*.iml
*.iws
*.ipr
local.properties

# OS files
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.rar

# Kotlin
*.kotlin_module

# IDE
out/
.vscode/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
